apiVersion: apps/v1
{{- if eq .Values.stage "development"}}
kind: StatefulSet
{{- else }}
kind: Deployment
{{- end }}
metadata:
  name: app
  labels:
    app: app
spec:
  {{- $runtimeBuild := printf "%v" (default "" (get (default dict .Values.envMap) "__VITE_RUNTIME_BUILD")) }}
  selector:
    matchLabels:
      app: app
  {{- if eq .Values.stage "development"}}
  serviceName: app
  {{- else }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  {{- end }}
  replicas: {{ ternary 1 0 .Values.enabled }}
  template:
    metadata:
      labels:
        app: app
    spec:
      terminationGracePeriodSeconds: 10
      imagePullSecrets:
        - name: diploi-pull-secret
      {{- if eq .Values.stage "development"}}
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
      initContainers:
        - name: install-dependencies
          image: {{ .Values.images.app }}
          imagePullPolicy: Always
          command:
            - /bin/sh
            - -c
            - |
              if [ -f yarn.lock ]; then yarn --frozen-lockfile; \
              elif [ -f package-lock.json ]; then npm ci; \
              elif [ -f pnpm-lock.yaml ]; then pnpm i --frozen-lockfile; \
              else echo "Lockfile not found. Skipping install."; \
              fi
          workingDir: /app{{ .Values.folder }}
          env:
          - name: NODE_ENV
            value: development
          volumeMounts:
            - name: app-mount
              mountPath: /app
      {{- end }}
      {{- if and (ne .Values.stage "development") (hasKey .Values.storage "build") (eq $runtimeBuild "true") }}
      initContainers:
        - name: runtime-build
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          image: {{ .Values.images.app }}
          imagePullPolicy: Always
          env:
            {{- range .Values.env }}
            - name: {{ .identifier }}
              value: {{ .value | quote }}
            {{- end }}
          command:
            - /bin/sh
            - -c
            - |
              if [ -f yarn.lock ]; then yarn run build; \
              elif [ -f package-lock.json ]; then npm run build; \
              elif [ -f pnpm-lock.yaml ]; then pnpm run build; \
              else echo "Lockfile not found." && exit 1; \
              fi &&
              find /build -mindepth 1 -exec rm -rf {} + &&
              DEST=$(pwd | awk '{sub("/app","/build");print}') &&
              mkdir -p $DEST &&
              cp -rv ./dist $DEST ||: &&
              chown -R 1000:1000 /build
          volumeMounts:
            - name: build-mount
              mountPath: /build
      {{- end }}
      containers:
        - name: app
          image: {{ .Values.images.app }}
          imagePullPolicy: Always
          ports:
            - containerPort: {{ ternary 5173 80 (eq .Values.stage "development") }}
          resources:
            requests:
              memory: 500Mi
            limits:
              memory: 1000Mi
          {{- if eq .Values.stage "development" }}
          workingDir: /app{{ .Values.folder }}
          {{- end }}
          env:
            {{- range .Values.env }}
            - name: {{ .identifier }}
              value: {{ .value | quote }}
            {{- end }}
            - name: DEBUG_1
              value: {{ .Values.stage "development" | quote }}
            - name: DEBUG_2
              value: {{ .Values.storage "build" | quote }}
            - name: DEBUG_3
              value: {{ $runtimeBuild }}
          volumeMounts:
            {{- if hasKey .Values.storage "code" }}
            - name: app-mount
              mountPath: /app
            {{- end }}
            {{- if and (ne .Values.stage "development") (hasKey .Values.storage "build") (eq $runtimeBuild "true") }}
            - name: build-mount
              mountPath: /app
            {{- end }}
      volumes:
        {{- if hasKey .Values.storage "code" }}
        - name: app-mount
          hostPath:
            path: {{ .Values.storage.code.hostPath }}
        {{- end }}
        {{- if hasKey .Values.storage "build" }}
        - name: build-mount
          hostPath:
            path: {{ .Values.storage.build.hostPath }}
        {{- end }}
